<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ContractModelMapper" >
    <resultMap id="BaseResultMap" type="com.info.entity.ContractModel" >
        <id column="contractmodelid" property="contractmodelid" jdbcType="INTEGER" />
        <result column="aliveFlag" property="aliveflag" jdbcType="BIT" />
        <result column="beginDate" property="begindate" jdbcType="TIMESTAMP" />
        <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
        <result column="modelNo" property="modelno" jdbcType="VARCHAR" />
        <result column="recCreTm" property="reccretm" jdbcType="TIMESTAMP" />
        <result column="recCreUsrId" property="reccreusrid" jdbcType="VARCHAR" />
        <result column="recUpdtTm" property="recupdttm" jdbcType="TIMESTAMP" />
        <result column="recUpdtUsrId" property="recupdtusrid" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from f4_contractmodel
        where contractmodelid = #{contractmodelid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.info.entity.ContractModel" >
        insert into f4_contractmodel (contractmodelid, aliveFlag, beginDate, 
            endDate, modelNo, recCreTm, 
            recCreUsrId, recUpdtTm, recUpdtUsrId, 
            remark)
        values (#{contractmodelid,jdbcType=INTEGER}, #{aliveflag,jdbcType=BIT}, #{begindate,jdbcType=TIMESTAMP}, 
            #{enddate,jdbcType=TIMESTAMP}, #{modelno,jdbcType=VARCHAR}, #{reccretm,jdbcType=TIMESTAMP}, 
            #{reccreusrid,jdbcType=VARCHAR}, #{recupdttm,jdbcType=TIMESTAMP}, #{recupdtusrid,jdbcType=VARCHAR}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.info.entity.ContractModel" >
        update f4_contractmodel
        set aliveFlag = #{aliveflag,jdbcType=BIT},
            beginDate = #{begindate,jdbcType=TIMESTAMP},
            endDate = #{enddate,jdbcType=TIMESTAMP},
            modelNo = #{modelno,jdbcType=VARCHAR},
            recCreTm = #{reccretm,jdbcType=TIMESTAMP},
            recCreUsrId = #{reccreusrid,jdbcType=VARCHAR},
            recUpdtTm = #{recupdttm,jdbcType=TIMESTAMP},
            recUpdtUsrId = #{recupdtusrid,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where contractmodelid = #{contractmodelid,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select contractmodelid, aliveFlag, beginDate, endDate, modelNo, recCreTm, recCreUsrId, 
        recUpdtTm, recUpdtUsrId, remark
        from f4_contractmodel
        where contractmodelid = #{contractmodelid,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select contractmodelid, aliveFlag, beginDate, endDate, modelNo, recCreTm, recCreUsrId, 
        recUpdtTm, recUpdtUsrId, remark
        from f4_contractmodel
    </select>

</mapper>